[Desktop Entry]
Type=Application
Exec=kitty --hold -e /home/james/Dev/hyprland/scripts/enroll_fingerprint.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Fingerprint Enrollment
