[Unit]
Description=One-time fingerprint enrollment prompt
After=graphical.target
Requires=graphical.target

[Service]
Type=oneshot
ExecStart=/usr/bin/kitty --hold -e ~/Dev/hyprland/scripts/enroll_fingerprint.sh
User=james
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/james/.Xauthority

[Install]
WantedBy=default.target
